.divCell {
    padding: 5px 5px 5px 5px;
    display: table-cell;
    width: 100px;
    border-width: 10px;
    border-style: inset;
    border-color: #A40707;
    outline-width: 10px;
    outline-style: outset;
    outline-color: #A40707;
    outline-offset: 0px;
}
